.horario-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.horario-content {
  margin: 0 4rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.horario-content .horario-content__title {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
}
.hero-overlay {
  max-width: 50vw;
  width: 50vw;
}
.hero {
  max-width: 50vw;
  object-fit: cover;
  width: 50vw;
  height: 88vh;
}
.table-titles {
  color: var(--blue-600);
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
