.home_container {
  max-height: 88vh;
  height: 88vh;
  overflow: hidden;
  background-image: url("../../assets/hero.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10rem;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.home_section__title {
  color: var(--white);
  font-size: 5rem;
  margin: 0;
}
.home_section__paragraph {
  text-align: justify;
  font-size: 2rem;
  color: var(--black-400);
  max-width: 70%;
}
