.horario_container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  align-items: center;
}
.horario_content {
  margin: 0 3rem;
  justify-self: center;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}
.horario_content__title {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
}
.hero {
  max-width: 50vw;
  object-fit: cover;
  width: 50vw;
  height: 88vh;
}
.table_titles {
  color: var(--blue-600);
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
