:root {
  --white: #ffffff;
  --black: #000000;
  --fontColor: #f2f4f8;
  --fontWithPrimaryColor: #b6c2d8;
  --backgroundColor: #0b101e;
  --backgroundColorLigth: #0e172a;
  --primaryColorDark: #0f192e;
  --primaryColor: #37496c;
  --primaryColorLight: #7a8fb8;
}
